* {
    font-family: monospace;
    color: var(--fontColor);
    font-family: helvetica;
  }
  body {
    background-color: var(--bg);
    color: var(--fontColor); 
  }
  li {
    list-style: circle;
  }
  .list {
    list-style: square;
  }
  .light-theme {
    --fontColor: var(--black);
    --bg: var(--green);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnFontColor: var(--black);
    --btnBg: var(--white);
  }
  :root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000;
  }
  .btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn:focus{
    outline-style: none;
  }